doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title Test application
      link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")


  body
    block scripts
    block sidebar
      block content
    block body
      block content
    //[if IE 6]>
      h3.bad Shit, your browser too old. Please update it.
      <![endif]
    br