// Essential javascripts for application to work
script(src='/static/js/jquery-3.2.1.min.js')
script(src='/static/js/popper.min.js')
script(src='/static/js/bootstrap.min.js')
script(src='/static/js/main.js')

// The javascript plugin to display page loading on top
script(src='/static/js/plugins/pace.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
script(type='text/javascript', src="/static/js/plugins/jquery.dataTables.min.js")
script(type='text/javascript', src="/static/js/plugins/dataTables.bootstrap.min.js")

