extends ../layouts/_layout.pug

block variables
	- var activePage = 'error-page'
	- var activeGroup = 'pages'

block title
	title Error Page - Vali Admin

block content
	.page-error.tile
		h1
			i.fa.fa-exclamation-circle
			|  Error 407: Page requires Authorization
		p Your Are Not Authorized For This Page. Please contact system administrator.
		p: a.btn.btn-primary(href="javascript:window.history.back();") Go Back
