extends ../../layouts/_layout.pug

block variables
	- var activePage = 'Permission Mangement'

block content
		
		.app-title
			div
				h1
					i.fa.fa-dashboard
					|  Permission Management
				

			ul.app-breadcrumb.breadcrumb
				li.breadcrumb-item
					i.fa.fa-home.fa-lg
				li.breadcrumb-item
					a(href='#') Permission Management

		.row
			.col-md-12
				.tile
					.row
						.col-lg-6
							form(method="post", name="myform", onsubmit="return OnSubmitForm();")
								.form-group
									label(for='url') Create Feature
									input#urlpath.form-control(type='text', placeholder='Enter Feature ' name="urlpath")
									small#emailHelp.form-text.text-muted This will Create New Feature For Permissions.
							
									button.btn.btn-primary#submitform(type='submit') Submit
						
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#permissionTable
							thead
								tr
									th Id
									th Feature
									th Action
									
							tbody
								each u in url
									tr
										td= u.id
										td= u.url
										
										td
											a.btn.btn-primary.btn-sm.updatedata update
											
							

block specific-js

	
	script(type='text/javascript').
		function OnSubmitForm(){
			if($("#submitform").val()==="save"){
					document.myform.action ="/admin/management/permission";
			}else{
					var id=$("#submitform").val();
					document.myform.action ="/admin/management/permission/update/"+id;
			}
			 return true;
		}
		$( document ).ready(function() {
			 $("#submitform").val("save");
			var table=$('#permissionTable').DataTable({ 
											"columnDefs":[{	'targets': [0,2],'searchable':false,'orderable':false,
											"width": "20%" }]});
		
				
			var foo =($.cookie("message")===undefined)?$.cookie("errormessage"):$.cookie("message")
			var messagetype=($.cookie("errormessage")===undefined)?"info":"danger"
			
			if(foo!==undefined){
				$.notify({
					title: "Message : ",
					message:foo,
					icon: 'fa fa-check' 
				},{
					type: messagetype
				});
			}
				$('#permissionTable tbody').on( 'click', '.updatedata', function () {
					var data = table.row( $(this).parents('tr') ).data();
				//$("#username").val();
			     	$("#submitform").val(data[0]);
					$("#urlpath").val(data[1]);
				});
	
		});