extends ../../layouts/_layout.pug

block variables
	- var activePage = 'User Mangement'
//-	- var loading = false


block content
		//- .overlay
		//- 	.m-loader.mr-4.
		//- 					<svg class="m-circular" viewBox="25 25 50 50">
		//- 						<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
		//- 					</svg>
		//- 				h3.l-text Loading
		.app-title
			div
				h1
					i.fa.fa-dashboard
					|  User Management
				

			ul.app-breadcrumb.breadcrumb
				li.breadcrumb-item
					i.fa.fa-home.fa-lg
				li.breadcrumb-item
					a(href='#') User Management

		.row
			.col-md-12
				.tile
					.row
						.col-lg-6
							form(method="post", name="myform", onsubmit="return OnSubmitForm();")
								.form-group
									label(for='username') User Name
									input#username.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter User Name', name="username", value=username)
									small#emailHelp.form-text.text-muted
								.form-group
									label(for='exampleInputEmail1') Email address
									input#email.form-control(type='email', aria-describedby='emailHelp',name="email", placeholder='Enter Email', value=email)
									small#emailHelp.form-text.text-muted
								.form-group
									label(for='First') First Name
									input#firstname.form-control(type='text', aria-describedby='emailHelp',name="firstname", placeholder='Enter First Name', value=firstname)
									small#emailHelp.form-text.text-muted
								.form-group
									label(for='last') Last Name
									input#lastname.form-control(type='text', aria-describedby='emailHelp',name="lastname" ,placeholder='Enter Last Name', value=lastname)
									small#emailHelp.form-text.text-muted
								.form-group
									label(for='Password') Password
									input#password.form-control(type='password',name="password" aria-describedby='emailHelp', placeholder='Enter Password', value="")
									small#emailHelp.form-text.text-muted
								.form-group
									label(for='Password') Status
									.toggle.lg
										label
											input#status(name="status",type="checkbox" onclick="checkboxclick(this)" checked value="true")
											span.button-indecator
								
								input#client_id.form-control(name="client_id" aria-describedby='emailHelp',type="hidden",value=client)
								input#permarray.form-control(name="permarray" value="[]" aria-describedby='emailHelp',type="hidden")
								
								
								input#client_secret.form-control(name="client_secret" aria-describedby='emailHelp',type="hidden", value=client_secret)
								.tile-footer
									button.btn.btn-primary#submitform(type='submit' value=savedata) Submit
						.col-lg-6
							.tile
									
									h3.tile-title Permission List
									.tile-body
										table.table.table-hover.table-bordered#permissiontb
											thead
												tr
													th.check 
														
															.form-check
																label.form-check-label
																	input.form-check-input#select-all(type='checkbox',name="select-all")
																	| Select All
													th ID
													th Feature List
													
											tbody
												each list in urllist
													tr
														td
															input.check_all(type="checkbox" value=list.id  name="id[]" id="check_all"+list.id)
														td=	list.id
														td= list.url												
									.tile-footer
										a.btn.btn-primary(href="/admin/management/permission" ,type='submit' style="border: 2px solid transparent;") Add New Feature
		.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#usertb
							thead
								tr
									th User ID
									th User Name
									th First Name
									th Last Name
									th Email
									th Status
									th Permission
									th urlid
									th Action
							tbody
								each val in user
									tr
										td=val.id
										td= val.username
										td= val.firstname
										td= val.lastname
										td= val.email_id
										td= val.status
										td= val.url
										td= val.url_id
										td
											a.btn.btn-primary.btn-sm.updatedata update
											| 
											a.btn.btn-danger.btn-sm#deleteuser delete
							

block specific-js

	
	script(type='text/javascript').
		function OnSubmitForm(){
			if($("#submitform").val()==="save"){
					document.myform.action ="/admin/management/user";
			}else{
					var id=$("#submitform").val();
					document.myform.action ="/admin/management/user/update/"+id;
			}
			 return true;
		}
		function checkboxclick(cb){
			var chec=cb.checked;
				if(chec==true){
					$("#status").val("true")
				}else if(chec==false){
					$("#status").val("false")
				}else{
					console.log("unknown")
				}
				
		}
		$( document ).ready(function() {
				var array_perm=[]
			
			//-  $("#submitform").val("save");
			if($("#submitform").val()!=="save"){
					$("#email").prop('disabled', true).css({"cursor": "not-allowed"});
			}
			var foo =($.cookie("message")===undefined)?$.cookie("errormessage"):$.cookie("message")
			var messagetype=($.cookie("errormessage")===undefined)?"info":"danger"
			
			if(foo!==undefined){
				$.notify({
					title: "Message : ",
					message:foo,
					icon: 'fa fa-check' 
				},{
					type: messagetype
				});
			}
			var table=	$('#usertb').DataTable({ "columnDefs":[{"visible": false, "targets": [0,7]},
												{ "targets": 6,
												'render': function (data, type, row){
													return '<span class="readmore">'+data+'</span>';
													}
												},
												{"targets": 5,
												'render': function (data, type, row){
													
															if(data==1){
																return '<span class="badge badge-pill badge-primary" style="font-size:11px;">Active</span>';
															}else if(data==3){
																	return '<span class="badge badge-pill badge-danger" style="font-size:11px;">Deleted</span>';
															}else{
																return '<span class="badge badge-pill badge-danger" style="font-size:11px;">InActive</span>';
															}
														} }
											]});
			var permission=	$('#permissiontb').DataTable({ 
												"columnDefs":[{	'targets': 0,'searchable':false,'orderable':false,
												"width": "20%" }]});
			$('#usertb').on('click','.readmore',function(){
				   var content = $(this).text();

					if(content.length > showChar) {
			
						var c = content.substr(0, showChar);
						var h = content.substr(showChar, content.length - showChar);
			
						var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
			
						$(this).html(html);
					}
			})

			$('#usertb tbody').on('click','#deleteuser',function(){
				   var deleteid = table.row( $(this).parents('tr') ).data();
				 //  console.log(deleteid[0])
						swal({
							title: "Are you sure?",
							text: "Delete User Email Is "+deleteid[4]+" !",
							type: "warning",
							showCancelButton: true,
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel plx!",
							closeOnConfirm: true,
							closeOnCancel: true
						}, function(isConfirm) {
							if (isConfirm) {
				
								  $.ajax({
										type: "get",
										url: "/admin/management/user/delete/"+deleteid[0],
									//	"headers": {"content-type": "application/x-www-form-urlencoded"},
										contentType: "application/x-www-form-urlencoded",
										success: function(response) {
											swal({title: "Deleted!", text: "User  has been deleted!", type: "success"},
													function(){ 
														location.reload();
													}
													);
										},
										error: function(error) {
											console.log(error.responseJSON);
												swal("Cancelled", "Try After Sometime :)", "error");

										}
									})
							
							} else {
							//	swal("Cancelled", "Your Cancelled User Delete :)", "error");
							}
						});
					});




							
			$('#select-all').on('click',function(){			
			    $('input:hidden[name=permarray]').val([]);
				var rows = permission.rows({ 'search': 'applied' }).nodes();
				var datata= $('.check_all', rows).prop('checked', this.checked);
				console.log(datata)
				var rowcollection =  permission.$(".check_all:checked", {"page": "all"}).map(function() {
														return this.value;
												}) .get();
									
				$('input:hidden[name=permarray]').val(JSON.stringify(rowcollection));
			//	$('input:text[name=permarray]').val(JSON.stringify(rowcollection));


			});

			$("input:checkbox.check_all").click(function(){
				let  input_array=JSON.parse($("#permarray").val());
				let checkbox_value=$(this).closest('tr').find(".check_all").val()
				console.log(input_array)
				if($(this).prop("checked") == true){
					if(input_array.length>0){
						 for(var i = 0; i < input_array.length; i ++) {
							 console.log(input_array.indexOf(checkbox_value))
							if(input_array.indexOf(checkbox_value) === -1){
								input_array.push(checkbox_value)
								$('input:hidden[name=permarray]').val(JSON.stringify(input_array));
							}else{
							console.log("error")
							}
						}

					}
					else{
						array_perm.push(checkbox_value)
						$('input:hidden[name=permarray]').val(JSON.stringify(array_perm));
					}
				}
				else if($(this).prop("checked") == false){
					console.log("uncheck")
					if(input_array.length>0){
						for(var i = 0; i < input_array.length; i ++) {
							if(input_array.indexOf(checkbox_value) > -1){
								console.log("found & remove")
								console.log(input_array)
								console.log(checkbox_value)
								 input_array.splice(input_array.indexOf(checkbox_value),1);
								 console.log("input_array")
								console.log(input_array)
								$('input:hidden[name=permarray]').val(JSON.stringify(input_array));
							}
						}
					}
					else{
							console.log("removeall")
					}
				}
			});
			$('#usertb tbody').on( 'click', '.updatedata', function () {
				$('input:hidden[name=permarray]').val([]);
				let result = [];
				var data = table.row( $(this).parents('tr') ).data();
				//$("#username").val();
				$("#username").val(data[1]);
				$("#email").val(data[4]);
				
				$("#email").prop('disabled', true).css({"cursor": "not-allowed"});
				//$("#email").style(' cursor','not-allowed !important;');
				$("#firstname").val(data[2]);
				$("#lastname").val(data[3]);
				$("#submitform").val(data[0])
				var rowsupdate = permission.columns( 1 ).data()[0]

				var convToarry = JSON.parse("[" + data[7] + "]");
			
				
			

				$.map(rowsupdate, function (val, i) {
					if ($.inArray(parseInt(val), convToarry) > -1) {
						result.push(val);
						$('#check_all'+val, 0).prop('checked', true);
					}
					else{
							$('#check_all'+val, 0).prop('checked', false);
					//- 	console.log("yo")
					//- 	$('input:hidden[name=permarray]').val([]);
					}
				});
					$('input:hidden[name=permarray]').val(JSON.stringify(result));

			} );
	

	
		});
	
						
							