extends ../../layouts/_layout.pug

block variables
	- var activePage = 'RPA Mangement'


block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  RPA Mangement
			

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') RPA Mangement

	.row
	
		.clearix
		

		.col-md-12
			

			.tile
				form.row
					.form-group.col-md-12.connectionmsg
						
				h3.tile-title Check Connection
					

				.tile-body

					form.row

						.form-group.col-md-4
							label.control-label IP Address
							input.form-control#ipaddress(type="text", placeholder="Enter IP Address" name="ipaddress")

						.form-group.col-md-1
							label.control-label Port
							input.form-control#port(type="text", placeholder="Enter Port" name="port")

						.form-group.col-md-4.align-self-end
							button.btn.btn-primary#connect(type="button")
								i.fa.fa-fw.fa-lg.fa-check-circle
								| Connect
	.row.appendform
	//- modal
	//- .row
	//- 		.col-lg-12
	//- 			h4 Modals
	//- 			.bs-component
	//- 				.modal.fade(id="modal",tabindex="-1",role="dialog",aria-labelledby="Label" aria-hidden="true")
	//- 					.modal-dialog.modal-lg
	//- 						.modal-content
	//- 							.modal-header
	//- 								h5.modal-title Agent Setting Detail
	//- 								button.close(type='button', data-dismiss='modal', aria-label='Close')
	//- 									span(aria-hidden='true') ×
	//- 							.modal-body
									
	//- 										table.table.table-hover.table-bordered#AgentDetail
	//- 											thead
	//- 												tr
	//- 													th Id
	//- 													th Setting Name
	//- 													th Setting Value
													
													
														
	//- 											tbody
													
													
															
	//- 							.modal-footer
									
	//- 								button.btn.btn-secondary(type='button', data-dismiss='modal') Close
	
	


	.row
			.col-md-12
				.tile
					.tile-body
						table.table.table-hover.table-bordered#AgentTable
							thead
								tr
									th Agent Id
									th Agent Name
									th Agent Email
									th Host Address
									th Port
									th  Timeout
									th Score
									th Status
									//th Queue Size
									//th More Detail
									th Action
									
							tbody
								each u in agent
									tr
										td= u.id
										td= u.agent_name
										td= u.agent_email
										td= u.host
										td= u.port
										td= u.settimeout
										td= u.score
										//td= u.queue_size
										//td=td
										//	a.btn.btn-warning.btn-sm.moredetail More
										td= u.status
										td
											a.btn.btn-info.btn-sm.updatedata update
											| 
											a.btn.btn-danger.btn-sm.deletedata delete

block specific-js

	
	script(type='text/javascript').
		$( document ).ready(function() {
			    let hostaddress;
				let hostport; 
				var foo =($.cookie("message")===undefined)?$.cookie("errormessage"):$.cookie("message")
				var messagetype=($.cookie("errormessage")===undefined)?"info":"danger"
				
				if(foo!==undefined){
					$.notify({
						title: "Message : ",
						message:foo,
						icon: 'fa fa-check' 
					},{
						type: messagetype
					});
				}
			    $("#connect").prop('disabled', true).css({"cursor": "not-allowed"});
				$('input[type="text"]').keyup(function() {
					if($("#ipaddress").val()!=='' && $("#port").val()!=='') {
								    $("#connect").prop('disabled', false).css({"cursor":""});
					}
				});
			
			var agenttb=	$('#AgentTable').DataTable({"columnDefs":[{	'targets': [0,4,5,6],'searchable':false,'orderable':false,
												"width": "8%" },{'targets': [8],'searchable':false,'orderable':false,
												"width": "10%" },{'targets': [7],'searchable':false,'orderable':false,
												"width": "6%",
												'render': function (data, type, row){
													
															if(data==1){
																return '<span class="badge badge-pill badge-primary" style="font-size:11px;">Enable</span>';
															}else{
																return '<span class="badge badge-pill badge-danger" style="font-size:11px;">Disabled</span>';
															}
														} }]});
			var agentdetail=	$('#AgentDetail').DataTable({"deferRender": true,
															"paging": true,
															"lengthChange": false,
															"searching": false,
															"ordering": true,
															"info": true,
															"autoWidth": false,
															"sDom": 'lfrtip'});
			$("#connect").click(function(){
					$(".msgalert").remove();
					$('.removeaddform').remove();
				
					var ipadd=$("#ipaddress").val();
					var port= $("#port").val();
					hostaddress=ipadd;
					hostport=port;				
					$.ajax({
					type: "post",
					url: "/admin/manage/getconnect",
					data:{"ipaddress":ipadd,"port":port},
					contentType: "application/x-www-form-urlencoded",
					success: function(response) {
						console.log(response)
						
						 $(".connectionmsg").append('<div class="alert alert-success msgalert">Connected Established</div>');
					
						$(".appendform").append(response.data)
					},
					error: function(error) {
						console.log(error.responseJSON);
						
						if(error.responseJSON.error!==undefined && error.responseJSON.error==="refresh" ){
								location.href='/admin/manage/rpa-agent'
						}else if(error.responseJSON.error!==undefined && error.responseJSON.error==="invalid_token"){
								location.href='/admin/manage/rpa-agent'
						}else if(error.responseJSON.error_description.code!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description.code+' </div>')
						}
						else if(error.responseJSON.error_description.code!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
						}else{
										$(".connectionmsg").append('<div class="alert alert-danger msgalert"> SomeThing Went Wrong </div>')
						}

					}
				});

			});
			$('.appendform').on('keyup ','input[type="text"],input[type="number"]',function(){
			
				let dynamic=$('.agentnameclass')
					if($("#name").val()!=='' && $("#timeout").val()!=='' && $("#adminemail").val()!=='' && $("#score").val()!=='') {
								    $("#saveform").prop('disabled', false).css({"cursor":""});
									//$(".addmorevalue").prop('disabled', false).css({"cursor":""});
					}
			

			});

			$('.appendform').on('click ','#saveform',function(){
			
					$(".msgalert").remove();
					let ag=$('.agentnameclass');
					let agval=$('.agentvalueclass');

					for(let i=0;i<ag.length;i++){
						if(ag[i].value==='' || ag[i].value===null || ag[i].value===undefined){
							ag[i].form.remove();
						}
					}
					for(let i=0;i<agval.length;i++){
						if(agval[i].value==='' || agval[i].value===null || agval[i].value===undefined){
							agval[i].form.remove();
						}				
					}


					let more_name=[];
					let more_value=[];
					
					let agentname=$("#name").val();
					let timeout=$("#timeout").val();
					let adminemail=$("#adminemail").val();
				    let score=$("#score").val();
					let agentnameextra=$('.agentnameclass').serializeArray();
					let agentvalueextra=$('.agentvalueclass').serializeArray();

					for(let i=0;i<agentnameextra.length;i++){
						if(agentnameextra[i].value!=='' && agentnameextra[i].value!==null && agentnameextra[i].value!==undefined){
							     more_name.push(agentnameextra[i].value)
						}
					}
					for(let i=0;i<agentvalueextra.length;i++){
						if(agentvalueextra[i].value!=='' && agentvalueextra[i].value!==null && agentvalueextra[i].value!==undefined){
							     more_value.push(agentvalueextra[i].value)
						}
					}


					$.ajax({
					type: "post",
					url: "/admin/manage/save_entry",
					data:{"host":hostaddress,"port":hostport,"agentname":agentname,"timeout":timeout,"adminemail":adminemail,"score":score,"agentnameadd":more_name,"agentvalueadd":more_value},
					contentType: "application/x-www-form-urlencoded",
					success: function(response) {
					console.log(response)
					
						 $(".connectionmsg").append('<div class="alert alert-success msgalert ">SuccessFully Saved </div>');
						 $('.removeaddform').remove();
						//- location.href = "/next"
						setTimeout(function () {location.reload();},500);
						
					},
					error: function(error) {
					//	console.log(error.responseJSON);
					if(error.responseJSON.error!==undefined && error.responseJSON.error==="refresh" ){
								location.href='/admin/manage/rpa-agent'
					}else if(error.responseJSON.error!==undefined && error.responseJSON.error==="invalid_token"){
								location.href='/admin/manage/rpa-agent'
					}else if(error.responseJSON.error_description!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
					}else{
										$(".connectionmsg").append('<div class="alert alert-danger msgalert"> SomeThing Went Wrong </div>')
					}

					}
				});
			});

			//- $('.appendform').on('click ','.addmorevalue',function(){
			//- 	 	//var fieldWrapperMain = $('<div class="addform">');
			//- 		 var main=$('<form class="row" id="extraform">')
			//- 		var fieldWrapper1 = $('<div class="form-group col-md-4">');
			//- 		var fieldWrapper2 = $('<div class="form-group col-md-4">');
			//- 		var fieldWrapper3 = $('<div class="form-group col-md-2 align-self-end">');

			//- 		var label1=$('<label class="control-label"> Setting Name</label>');
			//- 		var label2=$('<label class="control-label">Setting Value</label>');

			//- 		var input1=$('<input class="form-control agentnameclass" id="agentname[]" type="text" name="agentname[]" aria-describedby="emailHelp" placeholder="Enter Setting Name">');
			//- 		var input2=$('<input class="form-control agentvalueclass" id="agentvalue[]" type="text" name="agentvalue[]" placeholder="Enter Setting Value ">');
					
			//- 		var removebtn=$('<a class="btn btn-danger" id="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>');

			//- 		removebtn.click(function() {
			//- 			$(this).parent().parent().remove();
			//- 		});
					
			//- 		fieldWrapper1.append(label1);
			//- 		fieldWrapper1.append(input1);

			//- 		fieldWrapper2.append(label2);
			//- 		fieldWrapper2.append(input2);
			//- 		fieldWrapper3.append(removebtn);

			//- 		main.append(fieldWrapper1);
			//- 		main.append(fieldWrapper2);
			//- 		main.append(fieldWrapper3);

			//- 		$(".addmorefield").append(main);
			//- 	//S	$("#saveform").prop('disabled', true).css({"cursor":"not-allowed"});
			
			//- });
			$('.moredetail').click(function(){
				var id=agenttb.row( $(this).parents('tr') ).data()[0];
				console.log(id)
				//$('#modal').modal('show')
				$.ajax({
					type: "get",
					url: "/admin/manage/agent_detail/"+id,
					contentType: "application/x-www-form-urlencoded",
					success: function(response) {
					
							var result = response.data.map(function (item) {
								var result = [];
								result.push(item.id);
								result.push(item.name);
								result.push(item.value);
								
							//	result.push("");
								return result;
							});
						//- location.href = "/next"
						agentdetail.rows.add(result);
						agentdetail.draw();
						$('#modal').modal('show');
						
					},
					error: function(error) {
						//console.log(error.responseJSON);
						if(error.responseJSON.error!==undefined && error.responseJSON.error==="refresh"){
								location.href='/admin/manage/rpa-agent'
						}else if(error.responseJSON.error!==undefined && error.responseJSON.error==="invalid_token"){
								location.href='/admin/manage/rpa-agent'
						}else if(error.responseJSON.error_description!==undefined){
										$(".connectionmsg").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
						}else{
										$(".connectionmsg").append('<div class="alert alert-danger msgalert"> SomeThing Went Wrong </div>')
						}

					}
				});

			});
				$('.updatedata').click(function(){
					var id=agenttb.row( $(this).parents('tr') ).data()[0];	
					location.href = "/admin/manage/update/agent/"+JSON.parse(id);
			}) 
				$('.deletedata').click(function(){
					let deleteid =agenttb.row( $(this).parents('tr') ).data();	
					
						swal({
							title: "Are you sure?",
							text: "Delete Agent "+deleteid[1]+" !",
							type: "warning",
							showCancelButton: true,
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel plx!",
							closeOnConfirm: true,
							closeOnCancel: true
						}, function(isConfirm) {
							if (isConfirm) {
				
								  $.ajax({
										type: "get",
										url: "/admin/manage/deleteAgent/"+deleteid[0],
									//	"headers": {"content-type": "application/x-www-form-urlencoded"},
										contentType: "application/x-www-form-urlencoded",
										success: function(response) {
											swal({title: "Deleted!", text: "Agent  has been deleted!", type: "success"},
													function(){ 
														location.reload();
													}
													);
										},
										error: function(error) {
											console.log(error.responseJSON);
												swal("Cancelled", "Try After Sometime :)", "error");

										}
									})
							
							}
						});
			})

		});
	

