extends ../../layouts/_layout.pug

block variables
	- var activePage = 'RPA Mangement'


block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|  Update RPA Mangement
			

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Update RPA Mangement


	.row
	
		.clearix
		

		.col-md-12
			

			.tile
				form.row
					.form-group.col-md-12.connectionmsg1
						
				h3.tile-title Update Agent Setting
					

				.tile-body

					//- form.row

					//- 	.form-group.col-md-4
					//- 		label.control-label IP Address
					//- 		input.form-control#ipaddress(type="text", placeholder="Enter IP Address" name="ipaddress" value=host)

					//- 	.form-group.col-md-1
					//- 		label.control-label Port
					//- 		input.form-control#port(type="text", placeholder="Enter Port" name="port" value=port)

					form.row

							.form-group.col-md-4
								label.control-label Agent Name
								input.form-control#name(type="text", placeholder="Enter Agent Name" name="name" value=name data-value=id)

							.form-group.col-md-1
								label.control-label Set TimeOut
								input.form-control#timeout(type="number" placeholder="Enter TimeOut" name="timeout" value=timeout)
					form.row

							.form-group.col-md-4
								label.control-label Admin Email
								input.form-control#adminemail(type="email" name="adminemail" aria-describedby="emailHelp" placeholder="Enter Admin Email" value=email)

							.form-group.col-md-1
								label.control-label Set MatchScore
								input.form-control#score( type="number" placeholder="Enter TimeOut" name="score" value=score)
					if addmore !== undefined && addmore.length>0
						each val in addmore							
							form.row#extraform
								.form-group.col-md-4
									label.control-label Setting Name
									input.form-control.agentnameclass(id="agentname[]" type="text" name="agentname[]" aria-describedby="emailHelp" placeholder="Enter Setting Name" value=val.name )
								.form-group.col-md-4
									label.control-label Setting Value
									input.form-control.agentvalueclass(id="agentvalue[]" type="text" name="agentvalue[]" placeholder="Enter Setting Value " value=val.value)
								.form-group.col-md-2.align-self-end
									a.btn.btn-danger#remove.removeclassbtn
										i.fa.fa-trash-o
					.addmorefield 


					

					.tile-footer
					button.btn.btn-primary#saveform(type="button")
						i.fa.fa-fw.fa-lg.fa-check-circle
						| Update
					| &nbsp;&nbsp;&nbsp;
					//- a.btn.btn-info.addmorevalue(href="#")
					//- 	i.fa.fa-plus-circle
					//- 	| Add More Setting

						
	//- modal
	

block specific-js

	
	script(type='text/javascript').
		$( document ).ready(function() {
			    let hostaddress;
				let hostport; 
				var foo =($.cookie("message")===undefined)?$.cookie("errormessage"):$.cookie("message")
				var messagetype=($.cookie("errormessage")===undefined)?"info":"danger"
				
				if(foo!==undefined){
					$.notify({
						title: "Message : ",
						message:foo,
						icon: 'fa fa-check' 
					},{
						type: messagetype
					});
				}
			
			    $("#connect").prop('disabled', true).css({"cursor": "not-allowed"});
				$('input[type="text"]').keyup(function() {
					if($("#ipaddress").val()!=='' && $("#port").val()!=='') {
								    $("#connect").prop('disabled', false).css({"cursor":""});
					}
				});
			

			$('.appendform').on('keyup ','input[type="text"],input[type="number"]',function(){
			
				let dynamic=$('.agentnameclass')
					if($("#name").val()!=='' && $("#timeout").val()!=='' && $("#adminemail").val()!=='' && $("#score").val()!=='') {
								    $("#saveform").prop('disabled', false).css({"cursor":""});
									$(".addmorevalue").prop('disabled', false).css({"cursor":""});
					}
			

			});

			$('#saveform').on('click',function(){
					let more_name=[];
					let more_value=[];
					let save=0;
				console.log("hii")
					let agentname=$("#name").val();
					//console.log(agentname);
					let update_id=$("#name").data("value");
					//console.log(update_id)
					let timeout=$("#timeout").val();
					let adminemail=$("#adminemail").val();
					let score=$("#score").val();
					let float_regex=/^[0-9]\d{0,11}(\.\d{1,6})??$/;
					let name_regex=/^(?=^.{1,10}$)[A-Za-z]{1,10}\d*$/;
					let email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					$(".msgalert").remove();
					//$(".msgalert1").remove();
					let ag=$('.agentnameclass');
					let agval=$('.agentvalueclass');

					if(float_regex.test(score)===false || float_regex.test(timeout)===false ){
						 $(".connectionmsg1").append('<div class="alert alert-danger msgalert ">AutoWait TimeOut or Score Is Not Integer </div>');
						  save=1;
					}else if(email.test(adminemail)===false || name_regex.test(agentname)===false){

						 $(".connectionmsg1").append('<div class="alert alert-danger msgalert ">Agent Name or Email Not In Correct Format</div>');
						  save=1;
					}
			
					

					for(let i=0;i<ag.length;i++){
						if(ag[i].value==='' || ag[i].value===null || ag[i].value===undefined){
							ag[i].form.remove();
						}
					}
					for(let i=0;i<agval.length;i++){
						if(agval[i].value==='' || agval[i].value===null || agval[i].value===undefined){
							agval[i].form.remove();
						}				
					}


			
					
					
					let agentnameextra=$('.agentnameclass').serializeArray();
					let agentvalueextra=$('.agentvalueclass').serializeArray();

					for(let i=0;i<agentnameextra.length;i++){
						if(agentnameextra[i].value!=='' && agentnameextra[i].value!==null && agentnameextra[i].value!==undefined){
							     more_name.push(agentnameextra[i].value)
						}
					}
					for(let i=0;i<agentvalueextra.length;i++){
						if(agentvalueextra[i].value!=='' && agentvalueextra[i].value!==null && agentvalueextra[i].value!==undefined){
							     more_value.push(agentvalueextra[i].value)
						}
					}
				let	hostaddress=$("#ipaddress").val();
				let	hostport=$("#port").val();
					console.log(save)
					if(save===0){
						$.ajax({
						type: "post",
						url: "/admin/manage/update/agent/"+update_id,
						data:{"update_id":update_id,"host":hostaddress,"port":hostport,"agentname":agentname,"timeout":timeout,"adminemail":adminemail,"score":score,"agentnameadd":more_name,"agentvalueadd":more_value},
						contentType: "application/x-www-form-urlencoded",
						success: function(response) {
						console.log(response)
								$(".msgalert").remove();
								$(".connectionmsg1").append('<div class="alert alert-success msgalert ">'+response.data+' </div>');
						},
						error: function(error) {
							console.log(error.responseJSON);
							$(".msgalert").remove();
							if(error.responseJSON.error==="refresh"){
								location.href='/admin/manage/rpa-agent'
							}else if(error.responseJSON.error==="connection refused"){
								location.href='/admin/manage/rpa-agent'
							}
							else{
											$(".connectionmsg1").append('<div class="alert alert-danger msgalert">'+error.responseJSON.error_description+' </div>')
							}
							}
						});
					}
			});

			$('.addmorevalue').on('click ',function(){
					var main=$('<form class="row" id="extraform">')
					var fieldWrapper1 = $('<div class="form-group col-md-4">');
					var fieldWrapper2 = $('<div class="form-group col-md-4">');
					var fieldWrapper3 = $('<div class="form-group col-md-2 align-self-end">');

					var label1=$('<label class="control-label">Set Name</label>');
					var label2=$('<label class="control-label">Set Value</label>');

					var input1=$('<input class="form-control agentnameclass" id="agentname[]" type="text" name="agentname[]" aria-describedby="emailHelp" placeholder="Enter Agent Name">');
					var input2=$('<input class="form-control agentvalueclass" id="agentvalue[]" type="text" name="agentvalue[]" placeholder="Enter Agent Value ">');
					
					var removebtn=$('<a class="btn btn-danger" id="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>');

					removebtn.click(function() {
						$(this).parent().parent().remove();
					});
					
					fieldWrapper1.append(label1);
					fieldWrapper1.append(input1);

					fieldWrapper2.append(label2);
					fieldWrapper2.append(input2);
					fieldWrapper3.append(removebtn);

					main.append(fieldWrapper1);
					main.append(fieldWrapper2);
					main.append(fieldWrapper3);

					$(".addmorefield").append(main);
			});
			$('.removeclassbtn').click(function(){
				$(this).parent().parents('#extraform').remove()
			})
		});


